<div class="menu">
    <ul class="list">
        <li class="header">MAIN NAVIGATION</li>
        <li class="active">
            <a href="/member/admin">
                <i class="material-icons">home</i>
                <span>Home</span>
            </a>
        </li>

        <li>
            <a href="pages/helper-classes.html">
                <i class="material-icons">layers</i>
                <span>Helper Classes</span>
            </a>
        </li>
        
        <li>
            <a href="javascript:void(0);" class="menu-toggle">
                <i class="material-icons">map</i>
                <span>Campaign</span>
            </a>
            <ul class="ml-menu">
                <li>
                    <a href="/campaign/mycampaigns">List Campaign</a>
                </li>
                <li>
                    <a href="/campaign/">Create Campaign</a>
                </li>
            </ul>
        </li>

        <li>
            <a href="javascript:void(0);" class="menu-toggle">
                <i class="material-icons">map</i>
                <span>Article</span>
            </a>
            <ul class="ml-menu">
                <li>
                    <a href="/article/myarticles">List Articles</a>
                </li>
                <li>
                    <a href="/article/addarticle">Create Article</a>
                </li>
            </ul>
        </li>

        <li>
            <a href="javascript:void(0);" class="menu-toggle">
                <i class="material-icons">map</i>
                <span>Event</span>
            </a>
            <ul class="ml-menu">
                <li>
                    <a href="/event/myevents">List events</a>
                </li>
                <li>
                    <a href="/event">Create Event</a>
                </li>
            </ul>
        </li>

        <li>
            <a href="javascript:void(0);" class="menu-toggle">
                <i class="material-icons">widgets</i>
                <span>Extra</span>
            </a>
            <ul class="ml-menu">
                <li>
                    <a href="javascript:void(0);" class="menu-toggle">
                        <span>Donation</span>
                    </a>
                    <ul class="ml-menu">
                        <li>
                            <a href="pages/widgets/cards/basic.html">Daily Donation</a>
                        </li>
                        <li>
                            <a href="pages/widgets/cards/colored.html">Donation</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0);" class="menu-toggle">
                        <span>Muslim</span>
                    </a>
                    <ul class="ml-menu">
                        <li>
                            <a href="pages/widgets/infobox/infobox-1.html">Prayer Time</a>
                        </li>
                        <li>
                            <a href="pages/widgets/infobox/infobox-2.html">Calculator Zakat</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>

        <!-- Label -->
        <li class="header">LABELS</li>
        <li>
            <a href="javascript:void(0);">
                <i class="material-icons col-light-blue">donut_large</i>
                <span>Information</span>
            </a>
        </li>
        <li>
            <a href="javascript:void(0);">
                <i class="material-icons col-red">donut_large</i>
                <span>Logout</span>
            </a>
        </li>
    </ul>
</div>