<header>
        <!-- Navbar-->
        <%- include ./navbar.ejs %>
        <!-- Intro Section-->
        <section class="view hm-gradient" id="intro">
          <div class="full-bg-img d-flex align-items-center">
            <div class="container">
              <div class="row no-gutters">
                <div class="col-md-10 col-lg-6 text-center text-md-left margins">
                  <div class="white-text">
                    <div class="wow fadeInLeft" data-wow-delay="0.3s">
                      <h1 class="h1-responsive font-bold mt-sm-5">Give and Make Them Smile</h1>
                      <div class="h6">
                        Join ODOZ, and be the part of good people who gives pleasant to others. 
                        <br>ODOZ is a social program which was initiated by Indonesian students in Poland to provide a platform to whoever wants to give and share.
                      </div>
                    </div><br>
                    <div class="wow fadeInLeft" data-wow-delay="0.3s"><a class="btn btn-white dark-grey-text font-bold ml-0" href="https://www.youtube.com/watch?v=60ItHLz5WEA" target="_blank"><i class="fa fa-play mr-1"></i> View Demo</a><a class="btn btn-outline-white" href="#">what is ODOZ?</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
</header>