<nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar" id="navbar">
    <div class="container"><a class="navbar-brand" href="/"><strong>ODOZ</strong></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a class="nav-link active" href="#about">About</a></li>
          
          <li class="nav-item"><a class="nav-link" href="#campaign">They Need Us!</a></li>
          <li class="nav-item"><a class="nav-link" href="#event">Event</a></li>
          <!-- <li class="nav-item"><a class="nav-link" href="#team">Around Us</a></li> -->
          <li class="nav-item"><a class="nav-link" href="#article">Blog</a></li>
          <li class="nav-item"><a class="nav-link" href="#goodpeople">goodPeople</a></li>
        </ul>
        <%- nav %>
      </div>
    </div>
  </nav>