<form action="/odoz/donate" method="POST">
    <button class="btn btn-warning btn-lg" value="15.00" name="dailydonation">15zł</button>
    <button class="btn btn-warning btn-lg" value="10.00" name="dailydonation">10zł</button>
    <button class="btn btn-warning btn-lg" value="5.00" name="dailydonation">5zł</button>
    <button class="btn btn-warning btn-lg" value="1.00" name="dailydonation">1zł</button>
</form>